.top {
	text-align: center;
	border: solid #6091d3;
	margin: 0 auto;
	padding: 20px;
}

.center {
	text-align: center;
	margin: 0 auto;
	padding: 20px;
}

h1 {
	padding: 0.5em;
	background: #a6d3c8;
	color: white;
}

h1:befor {
	border: none;
	border-bottom: solid 15px transparent;
	border-right: solid 20px;
}

button {
	text-decoration: none;
	background: #668ad8; /*ボタン色*/
	color: #FFF;
	border-bottom: solid 4px #627295;
	border-radius: 3px;
}

button:active {
	border-bottom: none; /*線を消す*/
}
 button:hover{ background-color: #24d;
                 color:#fff }