.top{ text-align: center;
       border:solid #6091d3;
       width:400px;
       margin:0 auto;
       padding: 20px; }

 body{
      height:600px;
      }


  form{padding-top:20px;}

  input{height:30px;}


h1{ padding: 0.5em;
  background: #a6d3c8;
  color: white; }

h1:befor{ border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px ;}

  .middle[type='text']:focus{border: 1px solid #da3c41;
	outline: none;
	box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
	padding-bottom:20px;}


 button{text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;}

 button:active{ border-bottom: none;/*線を消す*/}

 button:hover {
	background-color: #24d;
	color: #fff
}

.footer{ text-align: right;
         padding-top:30px; }